/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fafafa;
    color: #333;
    background-image: url('../images/bg_default.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.app {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    width: 363px;
    z-index: 1;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.timer-circle {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

circle {
    transition: r 0.3s ease;
}

.stage {
    font-size: 18px;
    margin: 10px 0;
    color: #666;
}

.total-time {
    margin-bottom: 20px;
    font-size: 16px;
    color: #999;
}

#text {
    margin-bottom: 20px;
    font-size: 16px;
    color: #666;

}

#text > p {
    margin-bottom: 10px;
}

#options {
    display: flex;
    justify-content: center;
}

.emoji {
    font-size: 18px; /* Explicitly set emoji size */
    margin-right: 8px; /* Space between emoji and text */
    padding: 6px;
}

button, select {
    padding: 10px 20px; /* Consistent padding for both */
    border: 1px solid #007aff; /* Same border size and color */
    border-radius: 8px; /* Consistent border radius */
    background-color: #007aff; /* Same background color for buttons */
    color: white; /* Consistent text color */
    cursor: pointer; /* Cursor indicates clickable for buttons */
    font-size: 16px; /* Consistent font size */
    transition: background-color 0.3s; /* Smooth transition for hover effects */
    outline: none;
    margin-bottom: 20px;
    width: auto;
    margin-right: 20px;
    box-sizing: border-box; /* Include padding and border in the element's total width */;
}

button:hover, button:focus {
    background-color: #005ecb; /* Slightly darker on hover/focus */
}

select {
    background-color: white; /* Different background color for select */
    color: #333; /* Text color that's visible on white */
    appearance: none; /* Remove default styling to control padding and borders */
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
}

/* Custom dropdown arrow for selects to match the style of buttons */
select {
    background-image: linear-gradient(45deg, transparent 50%, #333 50%),
                      linear-gradient(135deg, #333 50%, transparent 50%);
    background-position: right 15px top 1em, right 10px top 1em;
    background-size: 5px 5px, 5px 5px;
    background-repeat: no-repeat;
    -webkit-background-size: 5px 5px, 5px 5px; /* for Safari */
}

/* Additional wrapper for custom styling */
.wrapper {
    position: relative;
    display: block;
}

.wrapper::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    pointer-events: none; /* Make it non-interactive */
    color: #333;
}

#credits {
    position: fixed; /* Fixed position keeps it at the bottom of the viewport */
    bottom: 10px; /* Distance from the bottom */
    width: 100%; /* Full width to center the text easily */
    text-align: center; /* Centers the text horizontally */
    color: rgb(0, 0, 0); /* Light grey color for the text */
    font-size: 12px; /* Smaller font size for subtlety */
    font-family: Arial, sans-serif; /* Optional: Sets the font */
    z-index: 0; /* Stellt sicher, dass die Credits hinter der App liegen */
    white-space: normal; /* Stellt sicher, dass der Text bei Bedarf umbricht */
    word-wrap: break-word; /* Bricht lange Wörter um */
}

#infoText {
    display: flex;
    justify-content: center;
}