@import url('styles.css'); /* Imports the base styles */
@font-face {
    font-family: 'Anta';
    src: url('../fonts/Anta-Regular.ttf') format('truetype');
}

body {
    background: linear-gradient(to right, #ff77e9, #7a77ff); /* Dreamy gradient background */
    color: #ffffff;
    font-size: 16px;
    background-image: url('../images/bg_vaporwave.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Anta';
}

.app {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1); /* Slightly transparent white for a modern touch */
    backdrop-filter: blur(10px); /* Blurred background for depth */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Light reflective border */
    z-index: 1;
}

h1 {
    color: #000000; /* High contrast title */
    text-shadow: 2px 2px #ff00ff; /* Neon-like shadow */
}


.stage {
    color: #000000; /* Bright white for clear visibility */
    text-shadow: 1px 1px #00ffff; /* Cyan shadow for a glitch effect */
}

.total-time {
    color: #ffffff;
}

#breathingCircle {
    fill: #ff00ff; /* Neon magenta for circles */
    stroke: #7a77ff; /* White stroke for contrast */
}

#text {
    color: #000000;
    text-shadow: 1px 1px #ff00ff; /* Neon-like shadow */
}

button, select {
    background-color: #ff00ff; /* Neon magenta for buttons */
    color: #ffffff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    box-shadow: 0 0 10px #ff00ff; /* Glowing effect */
}

button:hover, button:focus {
    background-color: #ff77ff; /* Lighter magenta on hover */
}

select {
    background-color: #7a77ff; /* Light blue, common in vaporwave palettes */
    color: #ffffff;
}

#credits {
    position: fixed; /* Fixed position keeps it at the bottom of the viewport */
    bottom: 10px; /* Distance from the bottom */
    width: 100%; /* Full width to center the text easily */
    text-align: center; /* Centers the text horizontally */
    color: lightgrey; /* Light grey color for the text */
    font-size: 12px; /* Smaller font size for subtlety */
    font-family: Arial, sans-serif; /* Optional: Sets the font */
    color: #000000;
    text-shadow: 1px 1px #ff00ff; /* Neon-like shadow */
    z-index: 0; /* Stellt sicher, dass die Credits hinter der App liegen */
    white-space: normal; /* Stellt sicher, dass der Text bei Bedarf umbricht */
    word-wrap: break-word; /* Bricht lange Wörter um */
}